@model List<GuestBookSystem.Models.Guestbook>
@Styles.Render("~/Content/StyleSheet1.css")
@{
    ViewBag.Title = "我的留言";
}
<h2 style="text-align:center"><span class="label label-primary">留言本</span></h2>
<ul class="nav nav-tabs">
    <li role="presentation">@Html.ActionLink("全局留言", "Index")</li>
    <li role="presentation" class="active">@Html.ActionLink("我的留言", "Mywords", new { id = 1 })</li>
    <li role="presentation">@Html.ActionLink("添加留言", "CreatMessage", new { email = Session["AuthorEmail"] })</li>
    <li role="presentation">@Html.ActionLink("注销登录", "Logout")</li>
</ul>

<div class="Nav">
    @foreach (var gb in Model)
    {


        if (gb.User.UserId == (int)Session["UserId"])
        {
            <div class="jumbotron">
                @if (gb.isPass == false)
                {
                <p class="bg-warning"><img src="~/Content/失败.png"> 审核中...</p>
                }
                else if (gb.isPass == true)
                {
                <p class="bg-success"><img src="~/Content/成功.png">审核通过</p>
                }
                <p>留言人：@gb.User.Email ，时间：@gb.CreatedOn</p>
                <p>标题：@gb.Title</p>
                <p>内容：@gb.Content</p>
                <hr />
                </div>
                }


                }
            </div>
